<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Application</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <a href="/" >Home</a>
    <form action="/signup" method="POST">
        First Name : <input type="text" name="firstName">
        Last Name : <input type="text" name="lastName">
        Email : <input type="text" name="email">
        DOB : <input type="text" name="dateOfBirth">
        Password : <input type="password" name="password">
        <button type="submit">submit</button>
    </form>
</body>
</html>